{% extends "base.html" %}

{% block content %}
  <h2>Detail Info about car: {{ car.model }}</h2>
  <div class="ml-3">
    <h3>Manufacturer:</h3>
    <p>{{ manufacturer.name }}, {{ manufacturer.country }}</p>
  </div>
  <div class="ml-3">
  {% for driver in car.drivers.all %}
    <hr>
    <p class="text-muted">id: {{ driver.id }}</p>
    <p>username: {{ driver.username }}</p>
    <p>first name: {{ driver.first_name }}</p>
    <p>last name: {{ driver.last_name }}</p>
  {% endfor %}
  </div>
{% endblock %}
